<mat-sidenav-container class="my-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
    <div class = "icon-button first-icon-button">      
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
      <div class = "sub-right"> <span style="font-size: 30px">Patient Administration </span> </div>
    </div>
    <div class = "icon-button">      
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> add_circle_outline </mat-icon> </div>
      <div class = "sub-right"> <a href= "/patients/create" mat-button class="button-on-blue">Create Patient</a> </div>		
    </div>
    <div class = "icon-button">      
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> search </mat-icon> </div>
      <div class = "sub-right"> <a href= "/patients/search" mat-button class="button-on-blue">Search Patient</a> </div>
    </div>
  
    </mat-sidenav>
  
    <mat-sidenav-content>
    <div *ngIf="!notFound && !error && !updated" class= "content-container">
    <p style = "font-size: 30px; margin: 10px;"> Edit patient </p>

    <mat-grid-list cols="2" rowHeight="80px">
        <form enctype='application/json' [formGroup]="patientEditionForm" (ngSubmit)="onFormSubmit(patientEditionForm.value)" class = "patient-creation-form">
          
          <mat-grid-tile>  
              <mat-form-field>
                <mat-select formControlName="docType" [(value)]="doctTypeWithoutFormat" placeholder="Document Type">
                  <mat-option value="NATIONAL_ID">National ID</mat-option>
                  <mat-option value="PASSPORT">Passport</mat-option>
                  <mat-option value="RESIDENCE_PERMIT_NUMBER">Residence Permit</mat-option>
                  <mat-option value="OTHER">Other</mat-option>
                </mat-select>
                <mat-error *ngIf="!patientEditionForm.get('docType').valid && patientEditionForm.get('docType').touched"> 
                <span>Insert doc. type</span> 
                </mat-error> 
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
              <input formControlName="docId" value={{documentNumber}} matInput placeholder="Document number">
              <mat-error *ngIf="!patientEditionForm.get('docId').valid && patientEditionForm.get('docId').touched"> 
              <span>Insert document number</span> 
              </mat-error> 
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
            <input formControlName="lastname"   value={{lastname}} matInput placeholder="Last name">
            <mat-error *ngIf="!patientEditionForm.get('lastname').valid && patientEditionForm.get('lastname').touched"> 
            <span>Insert last name</span> 
            </mat-error> 
            </mat-form-field>
      </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
              <input formControlName="name" value={{name}} matInput placeholder="Name">
              <mat-error *ngIf="!patientEditionForm.get('name').valid && patientEditionForm.get('name').touched"> 
              <span>Insert name</span> 
              </mat-error> 
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>  
            <mat-form-field>
              <mat-select formControlName="gender" [(value)]="gender" placeholder="Gender">
                <mat-option value="M">M</mat-option>
                <mat-option value="F">F</mat-option>
                <mat-option value="O">O</mat-option>
              </mat-select>
              <mat-error *ngIf="!patientEditionForm.get('gender').valid && patientEditionForm.get('gender').touched"> 
              <span>Insert gender</span> 
              </mat-error> 
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>

            <input formControlName="birthdate" [value]="birthDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="!patientEditionForm.get('birthdate').valid && patientEditionForm.get('birthdate').touched"> 
            <span>Insert birth date</span> 
            </mat-error> 
            </mat-form-field>
      </mat-grid-tile>         
      <mat-grid-tile>
          <mat-form-field>
          <input formControlName="birthplace" value={{birthPlace}} matInput placeholder="Birth place">
          <mat-error *ngIf="!patientEditionForm.get('birthplace').valid && patientEditionForm.get('birthplace').touched"> 
          <span>Insert birth place</span> 
          </mat-error> 
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
        <input formControlName="address" value={{address}} matInput placeholder="Address">
        <mat-error *ngIf="!patientEditionForm.get('address').valid && patientEditionForm.get('address').touched"> 
        <span>Insert address</span> 
        </mat-error> 
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field>
      <input formControlName="phone" value={{phone}} matInput placeholder="Phone number">
      <mat-error *ngIf="!patientEditionForm.get('phone').valid && patientEditionForm.get('phone').touched"> 
      <span>Insert phone number</span> 
      </mat-error> 
      </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
    <mat-form-field>
    <input formControlName="email" value={{email}} matInput placeholder="E-Mail">
    <mat-error *ngIf="!patientEditionForm.get('email').valid && patientEditionForm.get('email').touched"> 
    <span>Insert e-mail</span> 
    </mat-error> 
    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field>
    <mat-select formControlName="status" [(value)]="status" placeholder="Status">
        <mat-option value="single">Single</mat-option>
        <mat-option value="married">Married</mat-option>
        <mat-option value="divorced">Divorced</mat-option>
        <mat-option value="widowed">Widowed</mat-option>
    </mat-select>
    <mat-error> 
    <span *ngIf="!patientEditionForm.get('status').valid && patientEditionForm.get('status').touched">Select status</span> 
    </mat-error> 
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
    <mat-form-field>
    <input formControlName="child" value={{children}} matInput placeholder="Children">
    <mat-error *ngIf="!patientEditionForm.get('child').valid && patientEditionForm.get('child').touched"> 
    <span>Insert number of children</span> 
    </mat-error> 
    </mat-form-field>
</mat-grid-tile>


<mat-grid-tile>
  <button class = "submit-button" type="submit" > <mat-icon class="add-pat"> check_circle </mat-icon> </button>
</mat-grid-tile>



        </form>
    </mat-grid-list>
    </div>


    <div *ngIf="updated">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
              <h2 class="padding-left-30">Patient updated successfully</h2>
            </mat-grid-tile>
            <mat-grid-tile>
              <button class="show-user padding-left-30" (click)="goToPatient()">See patient information</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="notFound">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
              <h2 class="padding-left-30">Patient does not exist</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    
    <div *ngIf="error">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
              <h2 class="padding-left-30">An error occurred</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>


    </mat-sidenav-content>
</mat-sidenav-container>
