<div class="dialog-size">
  <h1 mat-dialog-title>Add record for {{data.name + " " + data.lastname}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <textarea matInput [(ngModel)]="data.comment" placeholder="Examination Result"></textarea>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSaveComment()" cdkFocusInitial>Save</button>
  </div>
</div>
