<mat-sidenav-container class="my-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
    <div class = "icon-button first-icon-button">
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
      <div class = "sub-right"> <span style="font-size: 30px">Patient Administration </span> </div>
    </div>
    <div class = "icon-button">
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> add_circle_outline </mat-icon> </div>
      <div class = "sub-right"> <a href= "/patients/create" mat-button class="button-on-blue">Create Patient</a> </div>
    </div>
    <div class = "icon-button">
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> search </mat-icon> </div>
      <div class = "sub-right"> <a href= "/patients/search" mat-button class="button-on-blue">Search Patient</a> </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon mat-card-avatar style="font-size: 2.5em;" aria-hidden="false" aria-label="Patient">face</mat-icon>
        <mat-card-title style="font-size: 2.5em;">{{name}}</mat-card-title>
        <mat-card-subtitle>Patient</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-grid-list cols="3" rowHeight="15px">

          <mat-grid-tile>
            <b> Intenal Id: </b> {{" " + id}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Document Type: </b> {{" " + docType}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Document Number: </b> {{" " + docId}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Gender: </b> {{" " + gender}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Birth date: </b>{{" " + birthdate}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Birth place: </b>{{" " + birthplace}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Address: </b> {{" " + address}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Phone: </b> {{" " +  phone}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> e-Mail: </b>{{" " + email}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Status: </b> {{" " + status}}
          </mat-grid-tile>
          <mat-grid-tile>
            <b> Child: </b> {{" " + child}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <div class="cards">
      <mat-card class="record" *ngFor="let record of records">
        <mat-card-header style="margin-top: 0px;">
          <mat-card-subtitle style="margin-bottom: 0px;">Record id: {{record.id}} | Report date: {{record.reportDate}} | By: {{record.user.name + " " + record.user.lastName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="max-height: 80px; overflow: auto;">
            {{record.diagnosisDescription}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <button *ngIf = "userAuth.currentUserValue.role === 'ROLE_ADMIN' || userAuth.currentUserValue.role === 'ROLE_RMAN' || userAuth.currentUserValue.role === 'ROLE_PROF'" class = "add-button" (click)="openDialog()"> <mat-icon class="add-pat"> add </mat-icon> </button>
  </mat-sidenav-content>
</mat-sidenav-container>
