<mat-sidenav-container class="my-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
  <div class = "icon-button first-icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
    <div class = "sub-right"> <span style="font-size: 30px">User Administration </span> </div>
  </div>
  <div class = "icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> add_circle_outline </mat-icon> </div>
    <div class = "sub-right"> <a href= "/register" mat-button class="button-on-blue">Create User</a> </div>		
  </div>
  <div class = "icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> search </mat-icon> </div>
    <div class = "sub-right"> <a href= "/users/search" mat-button class="button-on-blue">Search User</a> </div>
  </div>

  </mat-sidenav>

  <mat-sidenav-content>
  <div *ngIf = "!created && !error && !exists" class= "content-container">
  <p style = "font-size: 30px; margin: 10;"> Create user </p>
  
  <form enctype='application/json' [formGroup]="userCreationForm" (ngSubmit)="onFormSubmit(userCreationForm.value)" class = "patient-creation-form">
    <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
            <mat-form-field>
            <input formControlName="userId" matInput placeholder="Username">
            <mat-error *ngIf="!userCreationForm.get('userId').valid && userCreationForm.get('userId').touched"> 
            <span>Insert ID number</span> 
            </mat-error> 
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>  
          <mat-form-field>
            <mat-select formControlName="documentType" placeholder="Document Type">
              <mat-option value="PASSPORT">Passport</mat-option>
              <mat-option value="NATIONAL_ID">ID</mat-option>
              <mat-option value="RESIDENCE_PERMIT_NUMBER">Residence Permit Number</mat-option>
              <mat-option value="OTHER">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="!userCreationForm.get('documentType').valid && userCreationForm.get('documentType').touched"> 
            <span>Insert doc. type</span> 
            </mat-error> 
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="documentNumber" matInput placeholder="ID Number">
            <mat-error *ngIf="!userCreationForm.get('documentNumber').valid && userCreationForm.get('documentNumber').touched"> 
            <span>Insert ID number</span> 
            </mat-error> 
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="name" matInput placeholder="Name">
            <mat-error> 
            <span *ngIf="!userCreationForm.get('name').valid && userCreationForm.get('name').touched">Name is required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Lastname">
            <mat-error> 
            <span *ngIf="!userCreationForm.get('lastName').valid && userCreationForm.get('lastName').touched">Lastname is required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <!--<input formControlName="birthDate" matInput placeholder="DD/MM/YYYY"> -->
            
            <input formControlName="birthDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>  
            
            <mat-error> 
            <span *ngIf="!userCreationForm.get('birthDate').valid && userCreationForm.get('birthDate').touched">Select a date</span> 
            </mat-error> 
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="birthPlace" matInput placeholder="Birth Country">
            <mat-error> 
            <span *ngIf="!userCreationForm.get('birthPlace').valid && userCreationForm.get('birthPlace').touched">Birth country required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <mat-select formControlName="gender" placeholder="Gender">
              <mat-option value="M">Male</mat-option>
              <mat-option value="F">Female</mat-option>
              <mat-option value="O">Other</mat-option>
            </mat-select>
            <mat-error> 
            <span *ngIf="!userCreationForm.get('gender').valid && userCreationForm.get('gender').touched">Enter gender</span> 
            </mat-error> 
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="address" matInput placeholder="Address">
            <mat-error> 
            <span *ngIf="!userCreationForm.get('address').valid && userCreationForm.get('address').touched">Address required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
     
      <mat-grid-tile>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <mat-option value="Surgery">Surgery</mat-option>
            <mat-option value="Radiology">Radiology</mat-option>
            <mat-option value="MRI">MRI</mat-option>
            <mat-option value="Oncology">Oncology</mat-option>
          </mat-select>
        <mat-error> 
        <span *ngIf="!userCreationForm.get('department').valid && userCreationForm.get('department').touched">Department required</span> 
        </mat-error> 
        </mat-form-field>		  
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field>
          <input formControlName="phone" matInput placeholder="Phone Number">
          <mat-error> 
          <span *ngIf="!userCreationForm.get('phone').valid && userCreationForm.get('phone').touched">Phone number required</span> 
          </mat-error> 
          </mat-form-field>		  
</mat-grid-tile>

<mat-grid-tile>
  <mat-form-field>
    <mat-select formControlName="role" placeholder="Role">
      <mat-option *ngIf = "userAuth.currentUserValue.role === 'ROLE_ADMIN'" value="ROLE_ADMIN">Admin</mat-option>
      <mat-option *ngIf = "userAuth.currentUserValue.role === 'ROLE_ADMIN'" value="ROLE_RMAN">Role Manager</mat-option>
      <mat-option value="ROLE_PROF">Professional</mat-option>
      <mat-option value="ROLE_VIEWER">Viewer</mat-option>
      <mat-option value="ROLE_FEEDER">Feeder</mat-option>
    </mat-select>
    <mat-error> 
    <span *ngIf="!userCreationForm.get('role').valid && userCreationForm.get('role').touched">Select role</span> 
    </mat-error> 
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
    <mat-form-field>
    <input formControlName="email" matInput placeholder="E-Mail" type="email">
    <mat-error> 
    <span *ngIf="!userCreationForm.get('email').valid && userCreationForm.get('email').touched">Please enter a valid e-mail</span> 
    </mat-error> 
    </mat-form-field>		  
</mat-grid-tile>
<mat-grid-tile>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field>
    <input formControlName="password" matInput placeholder="Password" type="password">
    <mat-error>
      <span *ngIf="!userCreationForm.get('password').valid && userCreationForm.get('password').touched">Password required</span>
    </mat-error>
  </mat-form-field>
</mat-grid-tile>

<mat-grid-tile>
  <mat-form-field>
    <input formControlName="verifypassword" matInput placeholder="Verify password" type="password">
    <mat-error *ngIf="userCreationForm.get('verifypassword').errors"> Password verification does not match. </mat-error>
  </mat-form-field>
</mat-grid-tile>

      <mat-grid-tile>
        <button class = "submit-button" type="submit" > <mat-icon class="add-pat"> check_circle </mat-icon> </button>
      </mat-grid-tile>
      
    </mat-grid-list>
    
  </form>
  </div>
 <div *ngIf="created">
  <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <h2 class="padding-left-30">User created successfully</h2>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="show-user padding-left-30" (click)="goToUser()">See user information</button>
      </mat-grid-tile>
      <mat-grid-tile>
          <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
      </mat-grid-tile>
  </mat-grid-list>
 </div>

 <div *ngIf="exists">
    <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
          <h2 class="padding-left-30">User already exists</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <a class="to-register padding-left-30" href="/register">Create another user</a>
        </mat-grid-tile>
    </mat-grid-list>
   </div>

   <div *ngIf="error">
      <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <h2 class="padding-left-30">An error occurred, please try again</h2>
          </mat-grid-tile>
          <mat-grid-tile>
              <a class="to-register padding-left-30" href="/register">Create another user</a>
          </mat-grid-tile>
      </mat-grid-list>
     </div>


  </mat-sidenav-content>
</mat-sidenav-container>
