::ng-deep body{
	margin: 0 !important;
}

.login-card{
	justify-content: center;
}
.align-center{
	text-align: center;
}

.title-center{
	font-size: 1.5em;
  flex: 1 1 auto;
    text-align: center;
}

.login-container{
	width: 100%;
	text-align: center;
}

.wrapper-login{
	height: 150px;
	display:flex;
	justify-content:center;
}

.card{
	display: flex;
	justify-content: center;
}

