<mat-sidenav-container class="my-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
  <div class = "icon-button first-icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
    <div class = "sub-right"> <span style="font-size: 30px">Patient Administration </span> </div>
  </div>
  <div class = "icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> add_circle_outline </mat-icon> </div>
    <div class = "sub-right"> <a href= "/patients/create" mat-button class="button-on-blue">Create Patient</a> </div>		
  </div>
  <div class = "icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> search </mat-icon> </div>
    <div class = "sub-right"> <a href= "/patients" mat-button class="button-on-blue">Search Patient</a> </div>		
  </div>

  </mat-sidenav>

  <mat-sidenav-content>
  <div *ngIf = "!created && !error && !exists" class= "content-container">
  <p style = "font-size: 30px; margin: 10;"> Create patient </p>
  
  <form [formGroup]="patCreationForm" (ngSubmit)="onFormSubmit(patCreationForm.value)" class = "patient-creation-form">
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>  
          <mat-form-field>
            <mat-select formControlName="docType" placeholder="Document Type">
              <mat-option value="PASSPORT">Passport</mat-option>
              <mat-option value="NATIONAL_ID">National ID</mat-option>
              <mat-option value="RESIDENCE_PERMIT_NUMBER">Residence Permit</mat-option>
              <mat-option value="OTHER">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="!patCreationForm.get('docType').valid && patCreationForm.get('docType').touched"> 
            <span>Insert doc. type</span> 
            </mat-error> 
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="docId" matInput placeholder="ID Number">
            <mat-error *ngIf="!patCreationForm.get('docId').valid && patCreationForm.get('docId').touched"> 
            <span>Insert ID number</span> 
            </mat-error> 
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="name" matInput placeholder="Name">
            <mat-error> 
            <span *ngIf="!patCreationForm.get('name').valid && patCreationForm.get('name').touched">Name is required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="lastname" matInput placeholder="Lastname">
            <mat-error> 
            <span *ngIf="!patCreationForm.get('lastname').valid && patCreationForm.get('lastname').touched">Lastname is required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>

            <input formControlName="birthdate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error> 
            <span *ngIf="!patCreationForm.get('birthdate').valid && patCreationForm.get('birthdate').touched">Select a date</span> 
            </mat-error> 
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="birthplace" matInput placeholder="Birth Country">
            <mat-error> 
            <span *ngIf="!patCreationForm.get('birthplace').valid && patCreationForm.get('birthplace').touched">Birth country required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <mat-select formControlName="gender" placeholder="Gender">
              <mat-option value="M">M</mat-option>
              <mat-option value="F">F</mat-option>
              <mat-option value="O">O</mat-option>
            </mat-select>
            <mat-error> 
            <span *ngIf="!patCreationForm.get('gender').valid && patCreationForm.get('gender').touched">Enter gender</span> 
            </mat-error> 
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="address" matInput placeholder="Address">
            <mat-error> 
            <span *ngIf="!patCreationForm.get('address').valid && patCreationForm.get('address').touched">Address required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
              <mat-select formControlName="status" placeholder="Status">
                <mat-option value="single">Single</mat-option>
                <mat-option value="married">Married</mat-option>
                <mat-option value="divorced">Divorced</mat-option>
                <mat-option value="widowed">Widowed</mat-option>
              </mat-select>
            <mat-error> 
            <span *ngIf="!patCreationForm.get('status').valid && patCreationForm.get('status').touched">Status required</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="phone" matInput placeholder="Phone number">
            <mat-error> 
            <span *ngIf="!patCreationForm.get('phone').valid && patCreationForm.get('phone').touched">Add a phone number</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
        <input formControlName="email" matInput placeholder="E-Mail" type="email">
        <mat-error> 
        <span *ngIf="!patCreationForm.get('email').valid && patCreationForm.get('email').touched">Please enter a valid e-mail</span> 
        </mat-error> 
        </mat-form-field>		  
    </mat-grid-tile>
      <mat-grid-tile>
            <mat-form-field>
            <input formControlName="child" matInput placeholder="Children">
            <mat-error> 
            <span *ngIf="!patCreationForm.get('child').valid && patCreationForm.get('child').touched">Add number of children</span> 
            </mat-error> 
            </mat-form-field>		  
      </mat-grid-tile>
      <mat-grid-tile>
        <button class = "submit-button" type="submit" > <mat-icon class="add-pat"> check_circle </mat-icon> </button>
      </mat-grid-tile>

      
    </mat-grid-list>
    
  </form>
  </div>

  <div *ngIf="created">
      <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <h2 class="padding-left-30">Patient created successfully</h2>
          </mat-grid-tile>
          <mat-grid-tile>
            <button class="show-user padding-left-30" (click)="goToPatient()">See patient information</button>
          </mat-grid-tile>
          <mat-grid-tile>
              <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
          </mat-grid-tile>
      </mat-grid-list>
     </div>
    
     <div *ngIf="exists">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
              <h2 class="padding-left-30">Patient already exists</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <a class="to-register padding-left-30" href="/patients/create">Create another patient</a>
            </mat-grid-tile>
        </mat-grid-list>
       </div>
    
       <div *ngIf="error">
          <mat-grid-list cols="1" rowHeight="80px">
              <mat-grid-tile>
                <h2 class="padding-left-30">An error occurred, please try again</h2>
              </mat-grid-tile>
              <mat-grid-tile>
                  <a class="to-register padding-left-30" href="/patients/create">Create another patient</a>
              </mat-grid-tile>
          </mat-grid-list>
         </div>


  </mat-sidenav-content>
</mat-sidenav-container>
