<mat-sidenav-container class="my-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
  <div class = "icon-button first-icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
    <div class = "sub-right"> <span style="font-size: 30px">Profile </span> </div>
  </div>
  <div class = "icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> home </mat-icon> </div>
    <div class = "sub-right"> <a href= "/dashboard" mat-button class="button-on-blue">Dashboard</a> </div>		
  </div>
  <div class = "icon-button">      
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> build </mat-icon> </div>
      <div class = "sub-right"> <a href= "/changepassword" mat-button class="button-on-blue">Change Password</a> </div>		
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
      <div *ngIf="!notFound" class= "content-container">
          <p style = "font-size: 30px; margin: 10px;">My Profile </p>
    
          <mat-grid-list cols="2" rowHeight="80px">
              <mat-grid-tile>
              <div class="grid-title">Document type</div>
              <div class="grid-field">{{docType}}</div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="grid-title">Document number</div>
                  <div class="grid-field">{{docNumber}}</div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="grid-title">Last name</div>
                  <div class="grid-field">{{lastname}}</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <div class="grid-title">Name</div>
                      <div class="grid-field">{{name}}</div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="grid-title">Gender</div>
                  <div class="grid-field">{{gender}}</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <div class="grid-title">Birth date</div>
                      <div class="grid-field">{{birthdate}}</div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="grid-title">Birth place</div>
                  <div class="grid-field">{{birthplace}}</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <div class="grid-title">Address</div>
                      <div class="grid-field">{{address}}</div>
              </mat-grid-tile>
          <mat-grid-tile>
              <div class="grid-title">Phone number</div>
              <div class="grid-field">{{phone}}</div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="grid-title">Department</div>
                  <div class="grid-field">{{department}}</div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="grid-title">E-Mail</div>
              <div class="grid-field">{{email}}</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-title">Role</div>
            <div class="grid-field">{{role}}</div>
      </mat-grid-tile>
      </mat-grid-list>
      </div>
      
            <div *ngIf="notFound">
              <mat-grid-list cols="1" rowHeight="80px">
                  <mat-grid-tile>
                    <h2 class="padding-left-30">Not found</h2>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
                  </mat-grid-tile>
              </mat-grid-list>
          </div>
  </mat-sidenav-content>
</mat-sidenav-container>