<mat-sidenav-container class="my-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
  <div class = "icon-button first-icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
    <div class = "sub-right"> <span style="font-size: 30px">User Administration </span> </div>
  </div>
  <div class = "icon-button">
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> add_circle_outline </mat-icon> </div>
    <div class = "sub-right"> <a href= "/register" mat-button class="button-on-blue">Create User</a> </div>		
  </div>
  <div class = "icon-button">      
    <div class = "sub-left"> <mat-icon class="icon-on-blue"> search </mat-icon> </div>
    <div class = "sub-right"> <a href= "/users/search" mat-button class="button-on-blue">Search User</a> </div>
  </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="!notFound && !error && !updated" class= "content-container">
      <p style = "font-size: 30px; margin: 10px;">User information </p>
      <mat-grid-list cols="2" rowHeight="80px">
          <form enctype='application/json' [formGroup]="userEditionForm" (ngSubmit)="onFormSubmit(userEditionForm.value)" class = "patient-creation-form">
            
            <mat-grid-tile>  
                <mat-form-field>
                  <mat-select formControlName="documentType" [(value)]="selectedDocType" placeholder="Document Type">
                    <mat-option value="NATIONAL_ID">National ID</mat-option>
                    <mat-option value="PASSPORT">Passport</mat-option>
                    <mat-option value="RESIDENCE_PERMIT_NUMBER">Residence Permit</mat-option>
                    <mat-option value="OTHER">Other</mat-option>
                  </mat-select>
                  <mat-error *ngIf="!userEditionForm.get('documentType').valid && userEditionForm.get('documentType').touched"> 
                  <span>Insert doc. type</span> 
                  </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                <input formControlName="documentNumber" value={{docNumber}} matInput placeholder="Document number">
                <mat-error *ngIf="!userEditionForm.get('documentNumber').valid && userEditionForm.get('documentNumber').touched"> 
                <span>Insert document number</span> 
                </mat-error> 
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
              <input formControlName="lastName"   value={{lastname}} matInput placeholder="Last name">
              <mat-error *ngIf="!userEditionForm.get('lastName').valid && userEditionForm.get('lastName').touched"> 
              <span>Insert last name</span> 
              </mat-error> 
              </mat-form-field>
        </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                <input formControlName="name" value={{name}} matInput placeholder="Name">
                <mat-error *ngIf="!userEditionForm.get('name').valid && userEditionForm.get('name').touched"> 
                <span>Insert name</span> 
                </mat-error> 
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>  
              <mat-form-field>
                <mat-select formControlName="gender" [(value)]="gender" placeholder="Gender">
                  <mat-option value="M">M</mat-option>
                  <mat-option value="F">F</mat-option>
                  <mat-option value="O">O</mat-option>
                </mat-select>
                <mat-error *ngIf="!userEditionForm.get('gender').valid && userEditionForm.get('gender').touched"> 
                <span>Insert gender</span> 
                </mat-error> 
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
                <input formControlName="birthDate" [value] = "birthdate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <mat-error *ngIf="!userEditionForm.get('birthDate').valid && userEditionForm.get('birthDate').touched">
                <span>Insert birth date</span>
                </mat-error>
              </mat-form-field>
        </mat-grid-tile>         
        <mat-grid-tile>
            <mat-form-field>
            <input formControlName="birthPlace" value={{birthplace}} matInput placeholder="Birth place">
            <mat-error *ngIf="!userEditionForm.get('birthPlace').valid && userEditionForm.get('birthPlace').touched"> 
            <span>Insert birth place</span> 
            </mat-error> 
            </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field>
          <input formControlName="address" value={{address}} matInput placeholder="Address">
          <mat-error *ngIf="!userEditionForm.get('address').valid && userEditionForm.get('address').touched"> 
          <span>Insert address</span> 
          </mat-error> 
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
        <input formControlName="phone" value={{phone}} matInput placeholder="Phone number">
        <mat-error *ngIf="!userEditionForm.get('phone').valid && userEditionForm.get('phone').touched"> 
        <span>Insert phone number</span> 
        </mat-error> 
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>  
      <mat-form-field>
        <mat-select formControlName="department" [(value)]="department" placeholder="Department">
            <mat-option value="Surgery">Surgery</mat-option>
            <mat-option value="Radiology">Radiology</mat-option>
            <mat-option value="MRI">MRI</mat-option>
            <mat-option value="Oncology">Oncology</mat-option>
            <mat-option value="NONE">None</mat-option>
        </mat-select>
        <mat-error *ngIf="!userEditionForm.get('department').valid && userEditionForm.get('department').touched"> 
        <span>Insert department</span> 
        </mat-error> 
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field>
      <input formControlName="email" value={{email}} matInput placeholder="E-Mail">
      <mat-error *ngIf="!userEditionForm.get('email').valid && userEditionForm.get('email').touched"> 
      <span>Insert e-mail</span> 
      </mat-error> 
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-select formControlName="role" placeholder="Role">
        <mat-option *ngIf = "userAuth.currentUserValue.role === 'ROLE_ADMIN'" value="ROLE_ADMIN">Admin</mat-option>
        <mat-option *ngIf = "userAuth.currentUserValue.role === 'ROLE_ADMIN'" value="ROLE_RMAN">Role Manager</mat-option>
        <mat-option value="ROLE_PROF">Professional</mat-option>
        <mat-option value="ROLE_VIEWER">Viewer</mat-option>
        <mat-option value="ROLE_FEEDER">Feeder</mat-option>
      </mat-select>
      <mat-error> 
      <span *ngIf="!userEditionForm.get('role').valid && userEditionForm.get('role').touched">Select role</span> 
      </mat-error> 
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field>
      <input formControlName="password" value={{password}} matInput placeholder="Password" type="password">
      </mat-form-field>
</mat-grid-tile>


<mat-grid-tile>
    <button class = "submit-button" type="submit" > <mat-icon class="add-pat"> check_circle </mat-icon> </button>
  </mat-grid-tile>



          </form>
      </mat-grid-list>
    </div>

      <div *ngIf="updated">
          <mat-grid-list cols="1" rowHeight="80px">
              <mat-grid-tile>
                <h2 class="padding-left-30">User updated successfully</h2>
              </mat-grid-tile>
              <mat-grid-tile>
                <button class="show-user padding-left-30" (click)="goToUser()">See user information</button>
              </mat-grid-tile>
              <mat-grid-tile>
                  <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
              </mat-grid-tile>
          </mat-grid-list>
      </div>

      <div *ngIf="notFound">
          <mat-grid-list cols="1" rowHeight="80px">
              <mat-grid-tile>
                <h2 class="padding-left-30">User does not exist</h2>
              </mat-grid-tile>
              <mat-grid-tile>
                  <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
              </mat-grid-tile>
          </mat-grid-list>
      </div>
      
      <div *ngIf="error">
          <mat-grid-list cols="1" rowHeight="80px">
              <mat-grid-tile>
                <h2 class="padding-left-30">An error occurred</h2>
              </mat-grid-tile>
              <mat-grid-tile>
                  <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
              </mat-grid-tile>
          </mat-grid-list>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>
