<mat-sidenav-container class="my-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
    <div class = "icon-button first-icon-button">
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
      <div class = "sub-right"> <span style="font-size: 30px">Patient Administration </span> </div>
    </div>
    <div class = "icon-button">
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> add_circle_outline </mat-icon> </div>
      <div class = "sub-right"> <a href= "/patients/create" mat-button class="button-on-blue">Create Patient</a> </div>
    </div>
    <div class = "icon-button">
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> search </mat-icon> </div>
      <div class = "sub-right"> <a href= "/patients/search" mat-button class="button-on-blue">Search Patient</a> </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
  <div *ngIf = "!created && !error && !exists" class= "content-container">
    <p style = "font-size: 30px; margin: 10;"> Search Patients </p>
  
    <form enctype='application/json' [formGroup]="userSearchForm" (ngSubmit)="onFormSubmit(userSearchForm.value)" class = "search-user-form">
      <mat-grid-list cols="5" rowHeight="80px">
        <mat-grid-tile>
              <mat-form-field>
              <input formControlName="documentNumber" matInput placeholder="Document Number">
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
              <mat-form-field>
              <input formControlName="name" matInput placeholder="Name">
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
              <mat-form-field>
              <input formControlName="lastName" matInput placeholder="Lastname">
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div  class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef> User Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
      </ng-container>

      <ng-container matColumnDef="documentype">
        <th mat-header-cell *matHeaderCellDef> Doc. Type </th>
        <td mat-cell *matCellDef="let element"> {{element.documentype}} </td>
      </ng-container>

      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef> Document </th>
        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a  *ngIf = "userAuth.currentUserValue.role === 'ROLE_ADMIN' || userAuth.currentUserValue.role === 'ROLE_RMAN'" href= "{{element.edit}}" mat-mini-fab aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </a>
          <a href = "{{element.view}}" mat-mini-fab aria-label="View">
            <mat-icon>arrow_forward</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
