.fill-remaining-space{
    flex: 1 1 auto;
}

.non-link{
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

.logout-button{
    background-color: red;
    padding: 5px;
    color: white;
    
}

::ng-deep .mat-menu-content{
    text-align:center;
}

.example-container {
  height: 100%;
  overflow: auto;
}
