<!-- nav -->

<!-- <div *ngIf="currentUser && (currentUser.role == 'ROLE_ADMIN')">Hola</div> -->

<mat-toolbar *ngIf="currentUser" color="primary">
    <mat-toolbar-row>
      

    <button *ngIf="currentUser && (currentUser.role == 'ROLE_ADMIN')"  mat-icon-button [matMenuTriggerFor]="userOptionsAdmin">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- This menu would show user options. -->
    <mat-menu #userOptionsAdmin="matMenu">
      <button mat-menu-item (click)="goToDashBoard()">
        <mat-icon>home</mat-icon>
        <a class = "non-link" routerLink="/dashboard">Dashboard</a>
      </button>
      <button mat-menu-item (click)="goToUsers()">
          <mat-icon>person_outline</mat-icon>
          <a class = "non-link" routerLink="/users">Users Administration</a>
        </button>
        <button mat-menu-item (click)="goToPatients()">
            <mat-icon>face</mat-icon>
            <a class = "non-link" routerLink="/patients">Patients Administration</a>
          </button>
          <button mat-menu-item (click)="goToPACS()">
              <mat-icon>collections</mat-icon>
              <a class = "non-link" routerLink="/pacs">PACS</a>
            </button>
    </mat-menu>


    <button *ngIf="currentUser && (currentUser.role == 'ROLE_VIEWER' || currentUser.role == 'ROLE_PROF')"  mat-icon-button [matMenuTriggerFor]="userOptionsViewerProf">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- This menu would show user options. -->
      <mat-menu #userOptionsViewerProf="matMenu">
        <button mat-menu-item (click) = "goToDashBoard()">
          <mat-icon>home</mat-icon>
          <a class = "non-link" routerLink="/dashboard">Dashboard</a>
        </button>
          <button mat-menu-item (click)="goToPatients()"> 
              <mat-icon>face</mat-icon>
              <a class = "non-link" routerLink="/patients">Patients Administration</a>
            </button>
            <button mat-menu-item (click)="goToPACS()">
                <mat-icon>collections</mat-icon>
                <a class = "non-link" routerLink="/pacs">PACS</a>
              </button>
      </mat-menu>
    
      <button *ngIf="currentUser && (currentUser.role == 'ROLE_RMAN')"  mat-icon-button [matMenuTriggerFor]="userOptionsRman">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- This menu would show user options. -->
        <mat-menu #userOptionsRman="matMenu">
          <button mat-menu-item (click) = "goToDashBoard()">
            <mat-icon>home</mat-icon>
            <a class = "non-link" routerLink="/dashboard">Dashboard</a>
          </button>
          <button mat-menu-item (click)="goToUsers()">
              <mat-icon>person_outline</mat-icon>
              <a class = "non-link" routerLink="/users">Users Administration</a>
            </button>
            <button mat-menu-item (click)="goToPatients()">
                <mat-icon>face</mat-icon>
                <a class = "non-link" routerLink="/patients">Patients Administration</a>
              </button>
        </mat-menu>


        <button *ngIf="currentUser && (currentUser.role == 'ROLE_FEEDER')"  mat-icon-button [matMenuTriggerFor]="userOptionsFeeder">
            <mat-icon>menu</mat-icon>
          </button>
          <!-- This menu would show user options. -->
          <mat-menu #userOptionsFeeder="matMenu">
            <button mat-menu-item>
              <mat-icon>home</mat-icon>
              <a class = "non-link" routerLink="/">Home</a>
            </button>
          </mat-menu>

    <span>Medical Records</span>

        <span class="fill-remaining-space"></span>


        <button mat-icon-button [matMenuTriggerFor]="userInfo">
      <mat-icon>person</mat-icon>
    </button>
    
    <!-- This menu would show user information. -->
    <!-- TODO: -->
    <!-- TODO: -->
    <mat-menu #userInfo="matMenu">
      <div><p style="font-size: 10px; color: gray; margin-bottom: 0px;">Username</p></div>
      <div> {{currentUser.username}} </div>
      <div><p style="font-size: 10px; color: gray; margin-bottom: 0px; margin-top: 10px;">Role</p></div>
      <div> {{parseRoleName(currentUser.role)}} </div>
      <button mat-menu-item (click)="goToProfile()">
          <mat-icon>contacts</mat-icon>
          <a class = "non-link" routerLink="/profile">My profile</a>
        </button>
        <button mat-menu-item (click)="goToChangePassword()">
            <mat-icon>build</mat-icon>
            <a class = "non-link" routerLink="/changepassword">Change Password</a>
          </button>

          <button class = "logout-button" mat-button (click) = "logout()"> Logout</button>
      
    </mat-menu>
     </mat-toolbar-row>
</mat-toolbar>


<!--
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
-->

<router-outlet></router-outlet>

<!-- main app container 
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        
      </div>
    </div>
  </div>
</div>
-->
