.my-container{
	position: absolute;
	min-height: 85%;
	  left: 0;
  right: 0;
  
	font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 20px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep body{
	margin: 0 !important;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background: rgba(63, 81, 181, 1);
  color: white;
}

.icon-on-blue{
	font-size: 40px;
}

.icon-button{
    display:flex;
	position:flex;
	height: 90px;
	width: 100%;
	vertical-align: center;
}

::ng-deep .mat-figure{
	align-items: left !important;
    justify-content: left !important;
    display: inline-block !important;
    padding-left: 10px !important;
}

.button-on-blue{
    text-decoration: none;
	background-color: white;
	color: rgba(63, 81, 181, 1);
	max-width: 130px;
}

.sub-left{
	width: 20%;
	align-items: center;
	display: inline-block;
	height: 100px;
}

.sub-right{
	width: 80%;
	display: inline-block;
	height: 100px;
}

.first-icon-button{
	margin-top: 50px;
}

.padding-left-30{
	padding-left:30px;
}

.grid-title{
    height: 30%;
    width: 100%;
    float: left;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.grid-field{
    height: 70%;
    width: 100%;
    float: left;
}
