<mat-sidenav-container class="my-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" color="primary">
    <div class = "icon-button first-icon-button">      
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> person_outline </mat-icon> </div>
      <div class = "sub-right"> <span style="font-size: 30px">Profile </span> </div>
    </div>
    <div class = "icon-button">      
      <div class = "sub-left"> <mat-icon class="icon-on-blue"> home </mat-icon> </div>
      <div class = "sub-right"> <a href= "/dashboard" mat-button class="button-on-blue">Dashboard</a> </div>		
    </div>
  
    </mat-sidenav>
  
    <mat-sidenav-content>

        <div *ngIf="!error && !updated" class= "content-container">
            <mat-grid-list cols="2" rowHeight="80px">
                <form enctype='application/json' [formGroup]="passwordChangeForm" (ngSubmit)="onFormSubmit(passwordChangeForm.value)" class = "patient-creation-form">         
                  <mat-grid-tile>
                  <mat-form-field>
                  <input formControlName="password" matInput placeholder="New Password" type = "password">
                      <mat-error *ngIf="!passwordChangeForm.get('password').valid && passwordChangeForm.get('password').touched"> 
                      <span>Insert the new password</span> 
                      </mat-error> 
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                      <input formControlName="verifypassword" matInput placeholder="Verify password" type="password">
                      <mat-error *ngIf="passwordChangeForm.get('verifypassword').errors"> Password verification does not match. </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>
                <mat-grid-tile>
                    <button class = "submit-button" type="submit" > <mat-icon class="add-pat"> check_circle </mat-icon> </button>
                  </mat-grid-tile>
              </form>
              </mat-grid-list>
        </div>
        <div *ngIf="error">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                  <h2 class="padding-left-30">Error, please try again</h2>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div *ngIf="updated">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                  <h2 class="padding-left-30">Password updated successfuly</h2>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a class="to-dashboard padding-left-30" href="/dashboard">Dashboard</a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

</mat-sidenav-content>
</mat-sidenav-container>