.my-container{
	position: absolute;
	min-height: 85%;
	  left: 0;
  right: 0;
  
	font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 20px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep body{
	margin: 0 !important;
}

.content-container{
    padding-left: 30px;
    padding-top: 20px;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background: rgba(63, 81, 181, 1);
  color: white;
}

.icon-on-blue{
	font-size: 40px;
}

.fill-remaining-space{
	flex: 1 1 auto;
}

.icon-button{
    display:flex;
	position:flex;
	height: 90px;
	width: 100%;
	vertical-align: center;
}

.button-on-blue{
    text-decoration: none;
	background-color: white;
	color: rgba(63, 81, 181, 1);
    max-width: 150px;
    width: 150px;
}

.sub-left{
	width: 20%;
	align-items: center;
	display: inline-block;
	height: 100px;
}

.submit-button{
	background-color: inherit;
    border-color: white;
    border-style: none;
}

.add-pat{
	color: green;
	font-size: 50px;
	cursor: pointer;
}

.plus{
	margin-right: 10px;
	color: blue;
	font-size: 50px;
	cursor: pointer;
}

::ng-deep .mat-figure{
	align-items: left !important;
	justify-content: left !important;
    padding-left: 10px !important;
    display: inline-block !important;
}


.sub-right{
	width: 80%;
	display: inline-block;
	height: 100px;
}


::ng-deep .mat-form-field-wrapper{
	width: 300px !important;
}

.first-icon-button{
	margin-top: 50px;
}

.show-user{
	background-color: inherit;
	border-style: none;
	padding: 0px;
	color: #007bff;
	font-weight: 500;
	cursor: pointer;
}

.padding-left-30{
	padding-left:30px;
}

.grid-title{
    height: 30%;
    width: 100%;
    float: left;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.grid-field{
    height: 70%;
    width: 100%;
    float: left;
}