<h1 id="dash-title">Dashboard</h1>
<div *ngIf="currentUser && (currentUser.role == 'ROLE_ADMIN')" style="padding-left: 30px; padding-right: 30px;">
    <p class="home-title">Users Administration</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>
                <a mat-raised-button routerLink="/register"><mat-icon>add_circle</mat-icon>Create User</a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a mat-raised-button routerLink="/users/search"><mat-icon>search</mat-icon>Search User</a>
        </mat-grid-tile>
    </mat-grid-list>
    <p class="home-title">Patients Administration</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>
                <a mat-raised-button routerLink="/patients/create"><mat-icon>add_circle</mat-icon>Create Patient</a>
        </mat-grid-tile>
        <mat-grid-tile>  
                <a mat-raised-button routerLink="/patients"><mat-icon>search</mat-icon>Search Patient</a>
        </mat-grid-tile>
    </mat-grid-list>
    <p class="home-title">PACS and Profile</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <a mat-raised-button routerLink="/pacs"><mat-icon>collections</mat-icon> Access PACS</a>
        </mat-grid-tile>
        <mat-grid-tile>  
                <a mat-raised-button routerLink="/profile"><mat-icon>person</mat-icon>View Profile</a>
        </mat-grid-tile>
</mat-grid-list>
</div>



<div *ngIf="currentUser && (currentUser.role == 'ROLE_VIEWER' || currentUser.role == 'ROLE_PROF')" style="padding-left: 30px; padding-right: 30px;">
    <p class="home-title">Patients</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <a class = "non-link" routerLink="/patients">Search Patient</a>
                </button>
        </mat-grid-tile>
    </mat-grid-list>
    <p class="home-title">PACS and Profile</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>collections</mat-icon>
                        <a class = "non-link" routerLink="/pacs">Access PACS</a>
                </button>
        </mat-grid-tile>
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <a class = "non-link" routerLink="/profile">View Profile</a>
                </button>
        </mat-grid-tile>
</mat-grid-list>
</div>


<div *ngIf="currentUser && (currentUser.role == 'ROLE_RMAN')" style="padding-left: 30px; padding-right: 30px;">
        <p class="home-title">Users Administration</p>
<mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>add_circle</mat-icon>
                        <a class = "non-link" routerLink="/register">Create User</a>
                </button>
        </mat-grid-tile>
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <a class = "non-link" routerLink="/users">Search User</a>
                </button>
        </mat-grid-tile>
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>build</mat-icon>
                        <a class = "non-link" routerLink="/pacs">Edit User</a>
                </button>
        </mat-grid-tile>
    </mat-grid-list>
    <p class="home-title">Patients Administration</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>add_circle</mat-icon>
                        <a class = "non-link" routerLink="/patients/create">Create Patient</a>
                </button>
        </mat-grid-tile>
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <a class = "non-link" routerLink="/patients">Search Patient</a>
                </button>
        </mat-grid-tile>
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>build</mat-icon>
                        <a class = "non-link" routerLink="/patients/edit">Edit Patient</a>
                </button>
        </mat-grid-tile>
    </mat-grid-list>
    <p class="home-title">Profile</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <a class = "non-link" routerLink="/profile">View Profile</a>
                </button>
        </mat-grid-tile>
</mat-grid-list>
</div>

<div *ngIf="currentUser && (currentUser.role == 'ROLE_FEEDER')" style="padding-left: 30px; padding-right: 30px;">
    <p class="home-title">Profile</p>
    <mat-grid-list  cols="3" rowHeight="80px">
        <mat-grid-tile>  
                <button mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <a class = "non-link" routerLink="/profile">View Profile</a>
                </button>
        </mat-grid-tile>
</mat-grid-list>
</div>
