.home-title{
    font-size: 20px;
    display:inline-block;
    margin: 0px;
    margin-top: 20px;

}

.non-link{
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
    color:inherit;
    height: 100%;
    width: 100%;
}

#dash-title{
    text-align: center;
}